<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>dj-a</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/detailsmusic.css}"/>
    <script th:src="@{/js/jquery-1.8.0.min.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/customize.js}"></script>
</head>

<body>
<div class="music-lgin">
    <form method="post" action="file/upload" enctype="multipart/form-data">
        <input type="file" name="file"><br>
        <input type="submit" value="提交">
    </form>
</div>

<script type="text/javascript">




</script>

</body>

</html>